# =====================
# Secrets
# =====================
**/credentials.json
.env

# =====================
# Node
# =====================
node_modules/
**/node_modules/

# =====================
# Flutter
# =====================
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# =====================
# macOS
# =====================
.DS_Store

node_modules/
.env


# =====================
# .env.local
# =====================
GOOGLE_SHEET_ID=14kAnO_KMpBtVUB3NmZ3crSxxb19fDVvm